* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --border-color : rgb(168, 168, 168);
}

.body {
    padding-inline: 5rem;
}

.navbar {
    display: flex;
    gap: 1.5rem;
    border-bottom: 1px solid var(--border-color);
    padding-inline: 5rem;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.page-heading {
    padding-block: 1rem;
    margin-bottom: 0;
}

/* New post */

#create-post {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border: 1px solid var(--border-color);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.post-content-new {
    padding: .2rem;
    border-radius: 5px;
    border: 1px solid var(--border-color);
}

.post-button {
    border-radius: 5px;
    width: fit-content;
}


/* Posts */

.post {
    border: 1px solid var(--border-color);
    display: block;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 10px;
}

.post p {
    margin: 0;
}

.post-author {
    font-weight: 600;
    padding-bottom: 10px;
}

.post-timestamp,
.post-likes,
.post-comment {
    color: grey;
}