* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --border-color : rgb(168, 168, 168);
}

.body {
    padding-inline: 5rem;
}

.navbar {
    display: flex;
    gap: 1.5rem;
    border-bottom: 1px solid var(--border-color);
    padding-inline: 5rem;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.page-heading {
    padding-block: 1rem;
    margin-bottom: 0;
}

.following,
.profile,
.new-post {
    cursor: pointer;
}

/* New post */

#create-post {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border: 1px solid var(--border-color);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.post-content-new {
    padding: .2rem;
    border-radius: 5px;
    border: 1px solid var(--border-color);
}

.post-button {
    border-radius: 5px;
    width: fit-content;
}


/* Posts */

.post {
    border: 1px solid var(--border-color);
    display: block;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 10px;
}

.post p {
    margin: 0;
}

.post-author {
    font-weight: 600;
    padding-bottom: 10px;
    cursor: pointer;
}

.post-author:hover {
    color: gray;
}

.post-timestamp,
.post-comment,
.like-count {
    color: grey;
}

.post-likes {
    display: flex;
    gap: 5px;
}

.like-icon {
    width: 20px;
    cursor: pointer;
}

.post-edit {
    color: orange !important;
    cursor: pointer;
}

/* Profile page */

.profile-posts-heading {
    padding-block: 1rem;
    margin-top: 1.5rem;
    border-top: 1px solid var(--border-color);
}

.profile-button {
    margin-top: 1rem;
}

.profile-following,
.profile-followers,
.follow {
    cursor: pointer;
}

.profile-following:hover {
    color: gray;
}

.profile-followers:hover {
    color: gray;
}

.follow:hover {
    color: gray;
}

.edit-text {
    height: 2rem;
    width: auto;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 3px;
}