{% extends "network/layout.html" %}

{% block body %}

    <h2 class='page-heading'></h2>

    <div id='posts'>
        <form id='create-post'>
            <h4>New Post</h4>
            <textarea class='post-content-new'></textarea>
            <input type='submit' class = 'btn btn-primary post-button' value='Post'>
        </form>
    </div>

    <div id='profile'>
        <div class='profile-followers'></div>
        <div class='profile-following'></div>
    </div>

    <div id='followers'>
        TODO followers
    </div>
    
{% endblock %}