{% extends "network/layout.html" %}

{% block body %}

    <h2 class='page-heading'></h2>

    <div id='new-post'>
        <form id='create-post'>
            <textarea class='post-content-new'></textarea>
            <input type='submit' class = 'btn btn-primary post-button' value='Post'>
        </form>
    </div>

    <div id='posts-page'>
        <div id='posts'></div>
        <!-- Page change -->
        <nav aria-label="Page navigation example">
            <ul class='page-change pagination'>
                <li class="previous page-item">
                </li>
            </ul>
        </nav>
    </div>

    <div id='profile'>
        <div class='profile-followers'></div>
        <div class='profile-following'></div>
        <div class='profile-button'></div>
        <h4 class='profile-posts-heading'>Posts</h4>
        <div id='profile-posts'></div>
    </div>

    <div id='follows'>
    </div>

{% endblock %}